body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h3,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  background: #ffffff;
  color: #000;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 15px 30px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  padding: 40px;
  position: relative;
  background: #ffffff;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
  text-align: right;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: #e21;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 64px;
  text-align: right;
  padding: 40px;
  color: rgba(0, 0, 0, 0.2);
  margin: 0px;
  text-align: right;
  align-self: center;
}

.vantagens {
  padding: 40px;
  display: grid;
  background: white;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  gap: 10px 20px;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.rodape p {
  font-size: 24px;
}
